<div class="mt-5 p-3 max-w-[430px] min-w-[380px] mx-auto bg-white shadow-lg rounded-lg">
  <h4 class="py-4 text-gray-700 text-xl text-center font-semibold border-b">Login</h4>
  <div class="mt-5">
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <div class="mb-2">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="email">Email</label>
        <input
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 focus:border-2 dark:focus:border-gray-500 dark:shadow-sm-light"
          formControlName="email"
          id="email"
          placeholder="davidpaul@test.com"
          required type="email">
      </div>
      <div class="mb-6">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="password">Password</label>
        <input
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 focus:border-2 dark:focus:border-gray-500 dark:shadow-sm-light"
          formControlName="password"
          id="password"
          required
          type="password">
      </div>
      <button class="text-white bg-[#3c64a9] hover:bg-[#3c64a9] focus:ring-4 focus:outline-none focus:ring-[#3c64a9]-300 font-medium text-sm px-5 py-3 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800 w-full"
              type="submit">
        Login
      </button>
      <p class="mt-4 text-sm">
        Not a member?
        <a [routerLink]="['/register']" class="text-gray-600 hover:underline dark:text-gray-500">Register</a>
      </p>
    </form>
  </div>

</div>


