body {
  font-family: Arial, sans-serif;
  background-color: #fce9d1;
  margin: 0;
  color: #333;
}

.profile-page {
  display: flex;
  flex-direction: column;
}


.content-container {
  display: flex;
  padding: 30px;

  .profile-section {
    flex: 1;
    text-align: center;

    .user-avatar {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .favorites-section {
    flex: 3;
    padding: 20px;

    h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .no-recipes-message {
      font-size: 16px;
      color: #888;
      text-align: center;
      margin-top: 20px;
    }

    .recipe-card {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      background-color: white;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

      .recipe-image {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        margin-right: 15px;
      }

      .recipe-info {
        flex: 1;

        h3 {
          margin: 0;
          font-size: 18px;
          font-weight: bold;
        }

        p {
          margin: 5px 0;
          font-size: 14px;
          color: #666;
        }
      }

      .recipe-rating {
        display: flex;
        align-items: center;

        .star {
          color: #f7a44c;
          font-size: 18px;
          margin-right: 5px;
        }

        span {
          font-size: 16px;
        }
      }
    }
  }
}

.remove-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;

  &:hover {
    background-color: #cc0000;
  }
}

.recipe-link {
  color: rgba(181, 51, 5, 0.45); /* Default hyperlink blue color */
  text-decoration: none; /* Remove underline by default */
  cursor: pointer;

  &:hover {
    text-decoration: underline; /* Add underline on hover for standard hyperlink look */
  }

  &:active {
    color: #f47300; /* Darker shade when clicked */
  }
}
