<section class="w-full flex-1 bg-orange-100 py-10 px-5">
  <article class="text-center mb-10">
    <h3 class="text-5xl font-bold text-gray-800 mb-5">Taste the Best</h3>
    <h2 class="text-lg font-medium text-gray-600 mb-6">Enjoy the food with your family</h2>
  </article>

  <!-- Error Handling Section -->
  <div *ngIf="error && isLoading" class="flex justify-center items-center h-[60vh]">
    <div class="text-red-500 flex flex-col justify-center items-center">
      <i class="fa-solid fa-circle-exclamation text-6xl mb-4"></i>
      <h4 class="text-md px-4 py-2">An HTTP Error Occurred</h4>
    </div>
  </div>

  <!-- Explore More Button -->
  <div class="flex justify-center mt-10">
    <a [routerLink]="['/general-recipes']"
       class="bg-orange-500 text-white px-6 py-3 rounded-lg shadow-md hover:shadow-lg hover:bg-orange-600 transition-all duration-300">
      Explore More
    </a>
  </div>
</section>
