<div class="recipe-container">
  <!-- Header Section -->
  <div class="recipe-header">
    <h1 class="recipe-title">{{ joinedRecipe?.generalRecipe?.name }}</h1>
  </div>

  <!-- Image Section with White Container -->
  <div class="recipe-image-container">
    <div class="image-box">
      <img [src]="joinedRecipe?.generalRecipe?.photoUrl" alt="{{ joinedRecipe?.generalRecipe?.name }}" />
    </div>
  </div>

  <!-- Nutrition Section -->
  <div class="nutrition-container">
    <div class="nutrition-info">
      <span>kcal: {{ joinedRecipe?.generalRecipe?.calories }}</span>
      <span>protein: {{ joinedRecipe?.generalRecipe?.protein }} g</span>
      <span>fat: {{ joinedRecipe?.generalRecipe?.fat }} g</span>
      <span>carbs: {{ joinedRecipe?.generalRecipe?.carbohydrate }} g</span>
    </div>
  </div>

  <!-- Ingredients and Steps Section -->
  <div class="details-section">
    <div class="ingredients-container">
      <h2>Ingredients</h2>
      <ul>

         <li *ngFor="let ingredient of joinedRecipe?.generalRecipe?.baseRecipe?.contains">
           ingredient.amount * (Number(ingredient.measure)) }} grams of {{ ingredient.ingredient.name }}
      </ul>
    </div>




  <div class="explore-container">
    <button type="button" class="explore-button" (click)="goBack()">
      Explore More
    </button>
  </div>
</div>
</div>
