<!--
<div class="recipe-container">
  &lt;!&ndash; Header Section &ndash;&gt;
  <div class="recipe-header">
    <h1 class="recipe-title">{{ joinedRecipe?.generalRecipe?.name }}</h1>
  </div>

  &lt;!&ndash; Image Section with White Container &ndash;&gt;
  <div class="recipe-image-container">
    <div class="image-box">
      <img [src]="joinedRecipe?.generalRecipe?.photoUrl" alt="{{ joinedRecipe?.generalRecipe?.name }}" />
    </div>
  </div>

  &lt;!&ndash; Nutrition Section &ndash;&gt;
  <div class="nutrition-container">
    <div class="nutrition-info">
      <span>kcal: {{ joinedRecipe?.generalRecipe?.calories }}</span>
      <span>protein: {{ joinedRecipe?.generalRecipe?.protein }} g</span>
      <span>fat: {{ joinedRecipe?.generalRecipe?.fat }} g</span>
      <span>carbs: {{ joinedRecipe?.generalRecipe?.carbohydrate }} g</span>
    </div>
  </div>&lt;!&ndash;
&ndash;&gt;
  &lt;!&ndash; Ingredients and Steps Section &ndash;&gt;
  <div class="details-section">
    <div class="ingredients-container">
      <h2>Ingredients</h2>
      <ul>
      </ul>
    </div>




  <div class="explore-container">
    <button type="button" class="explore-button" (click)="goBack()">
      Explore More
    </button>
  </div>
</div>
</div>
-->
<div *ngIf="loading">Loading recipe details...</div>
<div *ngIf="!loading && joinedRecipe">
  <h1>{{ joinedRecipe.generalRecipe.name }}</h1>
  <img [src]="joinedRecipe.generalRecipe.photoUrl" alt="Recipe Image" />
  <p>{{ joinedRecipe.generalRecipe.description }}</p>
  <p><strong>Meal Type:</strong> {{ joinedRecipe.generalRecipe.mealType }}</p>
  <p><strong>Steps:</strong> {{ joinedRecipe.generalRecipe.rating }}</p>
</div>
<div *ngIf="!loading && errorMessage" class="error">
  {{ errorMessage }}
</div>
