<!--<div class="recipe-container">
  <h1 class="recipe-title">{{ generalRecipe?.name }}</h1>

  &lt;!&ndash; Recipe Image &ndash;&gt;
  <div class="recipe-image-container">
    <div class="image-box">
      <img [src]="generalRecipe?.photoUrl" alt="{{ generalRecipe?.name }}" />
    </div>
  </div>

  &lt;!&ndash; Nutrition Information &ndash;&gt;
  <div class="nutrition-container">
    <div class="nutrition-info">
      <span>kcal: {{ generalRecipe?.calories }}</span>
      <span>protein: {{ generalRecipe?.protein }} g</span>
      <span>fat: {{ generalRecipe?.fat }} g</span>
      <span>carbs: {{ generalRecipe?.carbohydrate }} g</span>
    </div>
  </div>

  &lt;!&ndash; Ingredients List and Substitutes &ndash;&gt;
  <div class="ingredients-container">
    <h2>Ingredients</h2>
    <ul>
      <li *ngFor="let ingredient of generalRecipe?.baseRecipe?.contains">
        <strong>{{ ingredient.amount }} {{ ingredient.measure }} of {{ ingredient.ingredient.name }}</strong>

        &lt;!&ndash; Substitutes &ndash;&gt;
        <ul>
          <li *ngFor="let substitute of substitutesMap[0]|| []">
            Substitute: {{ substitute.ingredient2_id }} (Proportion: {{ substitute.proportion_i1_i2 }})
          </li>
        </ul>
      </li>
    </ul>
  </div>-->
<div *ngIf="generalRecipe">
  <h2>{{ generalRecipe.name }}</h2>
  <div *ngFor="let ingredient of generalRecipe.baseRecipe.contains">
    <h3>Ingredient: {{ ingredient.ingredient.name }}</h3>

    <div *ngFor="let ingredientId of Object.keys(substitutesMap)">
      <h4>Substitutes:</h4>
      <ul>
        <li *ngFor="let sub of substitutesMap[ingredient.ingredient.ingredientId]">
        </li>
      </ul>
    </div>
    <ng-template #noSubstitutes>
      <p>No substitutes available for this ingredient.</p>
    </ng-template>
  </div>
</div>

