<div class="favorite-diets-container">
  <h2>Favorite Diets</h2>
  <ul class="diet-list">
    <li *ngFor="let diet of availableDiets" class="diet-item">
      <input
        type="checkbox"
        [id]="diet.dietTypeId"
        [checked]="isFavoriteDiet(diet.dietTypeId)"
        #checkbox
        (change)="toggleDietSelection(diet.dietTypeId, checkbox.checked)"
      />
      <label [for]="diet.dietTypeId">{{ diet.dietType }}</label>
    </li>
  </ul>
  <div class="action-buttons">
    <button class = "accept-button" (click)="saveDietPreferences()" [disabled]="isSaving">Save Preferences</button>
    <button class="reject-button" (click)="resetDietPreferences()">Reject</button>
  </div>
</div>



